.container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profileImage {
  width: 10px;
  height: 10px;

  flex-shrink: 0;
}

.profileEmail {
  color: #373740;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
