.loginButton {
  display: block;
  width: 88px;
  padding: 16px 20px;
  border: none;
  color: white;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
