.container {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 14px;
}

.profileImage {
  width: 24px;
  height: 24px;
  border-radius: 47px;
}

/* .profileEmail {
  color: #373740;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 124px;
  height: 17px;
} */
